body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: @background-body-color;
}

@import "header.less";
@import "variable.less";
@import "hero.less";
@import "content.less";
@import "footer.less";
