/*Inizo Stile Content index.html */
@import "variable.less";

.row {
  margin-left: @margin-left;
  margin-right: @margin-right;
  padding-top: 5%;

  .img-responsive {
    margin: 0 auto;
  }

    article {
      padding: 8%;
    }

    p {
      font-size: 15px;
    }
}

.cookie {
  padding: 6%;
  position: fixed;
  bottom: 0;
  background-color: @background-color;
  width: 100%;
  .padding-top-down();
  z-index: 90;
  color: white;

  button {
    margin-top: 1%;
  }

}
/* Fine stile Content index.html */
/* Inizio stile Content iNostriVini.html */

.wrap-filter {
  margin-top: 3%;
}

.row-vini {
  margin-left: @margin-left;
  margin-right: @margin-right;

  article {
    margin-top: 6%;
  }

  .img-responsive {
    margin: 0 auto;
    width: 40%;
  }
}
/* Fine Content iNostriVini.html */
/* Inizio COntent chiSiamo.html */

.container-chiSiamo {
  margin-left: 0px;
  margin-right: 0px
}
