/*Inizo Stile Content */
@import "variable.less";

.cookie {
  position: fixed;
  bottom: 0;
  background-color: @background-color;
  width: 100%;
  .padding-top-down();
  z-index: 90;

  span {
    .create-span-h-f();
  }
}
/* Fine stile Content */
