/*Inizo Stile Content index.html */
@import "variable.less";

.row {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 5%;

  .img-responsive {
    margin: 0 auto;
  }

    article {
      padding: 8%;

    }

    p {
      font-size: 15px;
    }
}

.cookie {
  position: fixed;
  bottom: 0;
  background-color: @background-color;
  width: 100%;
  .padding-top-down();
  z-index: 90;

  span {
    .create-span-h-f();
  }
}
/* Fine stile Content index.html */
/* Inizio stile Content iNostriVini.html */
.row-vini {
  margin-left: 5%;
  margin-right: 5%;

  .img-responsive {
    margin: 0 auto;
  }

}



/* Fine Content iNostriVini.html */
