/* Inizio Stile Footer */
@import "variable.less";

footer {
  margin-bottom: 4%;
  margin-left: @margin-left;
  margin-right: @margin-right;

  @media(max-width: 425px){
      margin-bottom: 10%;
  }
}
/* Fine Stile Footer */
