/*Inizio Stile Hero */

.carousel {
    margin-top: 51px;
}

 #carouselFade .item {
  @media(min-width: 1024px){
    height: 600px !important;
  }
}

#carouselFadeS .item {
  @media(min-width: 1024px){
    height: 370px !important;
  }
}

/*
.item .img-responsive {
  width: auto;
  height: 500px !important;

  @media(max-width: 768px){
    height: 350px !important;
  }

  @media(max-width: 425px){
    height: 250px !important;
  }

  @media(max-width: 375px){
    height: 200px !important;
  }
}
*/

/*
#image-carousel {
  height: 500px !important;

  @media(max-width: 768px){
    height: 350px !important;
  }

  @media(max-width: 425px){
    height: 250px !important;
  }

  @media(max-width: 375px){
    height: 200px !important;
  }
}
*/

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}




/* Fine Stile Hero */
