* {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*Inizio Stile Header */
.navbar {
  margin-bottom: 0;
}
/* Fine Stile Header */
/*Inizio Stile Hero */
.jumbotron {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.img-responsive {
  height: 500px !important;
}
@media (max-width: 768px) {
  .img-responsive {
    height: 350px !important;
  }
}
@media (max-width: 375px) {
  .img-responsive {
    height: 200px !important;
  }
}
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
/* Fine Stile Hero */
/*Inizo Stile Content */
.cookie {
  position: fixed;
  bottom: 0;
  background-color: #223a48;
  width: 100%;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  z-index: 90;
}
.cookie span {
  color: white;
  margin-left: 5%;
  font-size: 80%;
}
/* Fine stile Content */
/* Inizio Stile Footer */
footer {
  margin-bottom: 4%;
  margin-left: 5%;
  margin-right: 5%;
}
footer span {
  font-size: 80%;
}
@media (max-width: 425px) {
  footer {
    margin-bottom: 10%;
  }
}
/* Fine Stile Footer */
