body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: beige;
}
/*Inizio Stile Header */
.navbar-default {
  border-color: #5e2129;
}
.navbar {
  margin-bottom: 0;
  background-color: #5e2129;
}
.navbar .navbar-brand {
  color: white;
}
.navbar .navbar-nav {
  border-right: 1px solid white;
}
@media (min-width: 767px) {
  .navbar .navbar-nav {
    border-right: 1px solid white;
  }
}
.navbar .navbar-nav li > a:hover {
  color: #bbbaba;
}
.navbar .navbar-nav .active a {
  color: black;
  background-color: #7a4448;
}
.navbar .navbar-nav .active a:hover {
  color: white;
  background-color: #7a4448;
}
@media (min-width: 767px) {
  .navbar .navbar-nav li {
    border-left: 1px solid white;
  }
}
.navbar .navbar-nav li a {
  color: white;
}
/* Fine Stile Header */
/*Inizio Stile Hero */
.carousel {
  margin-top: 30px;
}
.carousel .logo {
  left: 4%;
  position: absolute;
  z-index: 20;
  top: 20%;
  height: auto;
  opacity: 0.92;
  width: 30%;
}
@media (min-width: 1024px) {
  #carouselFade .item {
    height: 600px !important;
  }
}
@media (min-width: 1024px) {
  #carouselFadeS .item {
    height: 370px !important;
  }
}
.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
/* Fine Stile Hero */
/*Inizo Stile Content index.html */
.row {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 5%;
}
.row .img-responsive {
  margin: 0 auto;
}
.row article {
  padding: 8%;
}
.row p {
  font-size: 15px;
}
.cookie {
  padding: 6%;
  position: fixed;
  bottom: 0;
  background-color: #5e2129;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  z-index: 90;
  color: white;
}
.cookie button {
  margin-top: 1%;
}
/* Fine stile Content index.html */
/* Inizio stile Content iNostriVini.html */
.wrap-filter {
  margin-top: 3%;
}
.row-vini {
  margin-left: 5%;
  margin-right: 5%;
}
.row-vini article {
  margin-top: 6%;
}
.row-vini .img-responsive {
  margin: 0 auto;
  width: 40%;
}
/* Fine Content iNostriVini.html */
/* Inizio COntent chiSiamo.html */
.container-chiSiamo {
  margin-left: 0px;
  margin-right: 0px;
}
/* Inizio Stile Footer */
footer {
  background-color: #5e2129;
  margin-top: 4%;
  margin-bottom: 0;
  text-align: center;
}
footer ul.nav.nav-pills {
  display: inline-table;
}
footer li {
  margin-right: 70px;
}
/* Fine Stile Footer */
