body {
  margin: 0;
}
header {
  height: 5%;
  background-color: #2D2D2D;
}
header #paraH {
  color: white;
  margin-left: 10px;
}

.hero {
  background-color: #cccccc;
}

.heroText {
  padding: 20px 40px;
}

#imgH1 {
  height: 37px;
  width: 40px;
}

#imgH2 {
  height: 37px;
  width: 70px;
}

.imgHero {
  border-radius: 10px;
  margin-top: 2%;
}


.articleImage {
  height: 300px;
  width: 350px;
}
