body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header .div-hea{
  background-color: #223a48;
  vertical-align: middle;
  padding: 10px;
}

.span-h-c {
  color: white;
  margin-left: 2.5%;
  font-size: 80%;
}

.hero-text {
  background-color: #e4edf6;
  padding: 20px 40px;
}

.row {
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
}

.btn-primary {
  height: 37px;
  margin-top: 2%;
}

.label {
  display: inline-block;
  margin-bottom: 2%;
  margin-top: 2%;
}

.article-image {
  height: 100%;
  width: 100%;
}

.cookie {
  position: fixed;
  bottom: 0;
  background-color: #223a48;
  width: 100%;
  padding: 10px;
  z-index: 90
}

footer {
  margin-left: 2.5%;
  margin-bottom: 40px;
  font-size: 80%;
  padding: 10px;
}
