body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header .div-hea{
  background-color: #223a48;
  vertical-align: middle;
  padding: 10px;
}

.span-h-c {
  color: white;
  margin-left: 2.5%;
  font-size: 80%;
}

/*
.hero {
  background-color: #e4edf6;
}
*/

.hero-text {
  padding: 20px 40px;
}

.row {
  margin-left: 2%;
  margin-right: 2%;
}

.btn-primary {
  height: 37px;
  margin-top: 2%;
}

.label {
  display: inline-block;
  margin-bottom: 2%;
  margin-top: 2%;
}
/*
#imgH1 {
  height: 37px;
  width: 40px;
}

#imgH2 {
  height: 37px;
  width: 70px;
}

.imgHero {
  border-radius: 10px;
  margin-top: 2%;
}
*/
.article-image {
  height: 100%;
  width: 100%;

}

/*
.tech {
  border-radius: 10px;
  width: 13%;
  height: 13%;
  margin-top: 2%;
  margin-bottom: 2%;
}
*/
.span-like {
  display: inline-block;
  border: 1px solid #B1B1B1;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 3%;
}

.green-like {
  border: 1px solid green;
  background-color: #5cb85c;
  color: white;
}


.cookie {
  position: fixed;
  bottom: 0;
  background-color: #223a48;
  width: 100%;
  padding: 10px;
  z-index: 90
}

footer {
  margin-left: 2.5%;
  margin-bottom: 40px;
  font-size: 80%;
  padding: 10px;
}
