// Colore di background per il cookie e l'Header
@background-color: #223a48;
@font-size: 80%;

// Margini di pagina
@margin-left: 5%;
@margin-right: 5%;

//Padding Header e Cookie
.padding-top-down(@padding-t-d: 0.7%){
  padding-top: @padding-t-d;
  padding-bottom: @padding-t-d;
}

.create-span-h-f(){
  color: white;
  margin-left: @margin-left;
  font-size: @font-size;
}
